{{>navbar}}

{{!-- <div class="container">
    <div class="row">
        <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i>Register</h1>
        <form class="row g-3" action="/register" method="POST">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Email:</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your email Id">
            </div>
            <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Password:</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Enter Password">
            </div>

            <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Confirm Password:</label>
                <input type="password" class="form-control" id="inputConfirmPassword4" placeholder="Confirm Password">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-danger">
                    <a href="/home"></a>Login</a>
                </button>

            </div>
        </form>
        <p class="lead mt-4">
            Have An Account?
            <a href="/login">Login</a>
        </p>
    </div>
</div> --}}

<form action="/register" method="post">
<input type="text" id="email" placeholder="Write email">
<input type="text" id="password" placeholder="Write password">
<button type="submit">submit</button>
</form>